.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

.preview,
.designer {
    margin: 8px;
    width: 50%;
    flex: 1 1 auto;
}

:global(.ant-input).code {
    width: 100%;
    height: 100%;
}
